@import '_variables';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

body {    
    font-family: $font-secondary;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
}

li {
    text-decoration: none;
    display: inline-block;
}

h1 {
    color: $purple;
    font-size: 50pt;
    font-family: $font-primary;
}
h2 {
    
}
h3 {
    color: $purple;
    font-size: 25pt;
    border-bottom: 5px solid #5F5AA2;
    display: inline-block;
}
h4 {
    font-size: 20pt;
    color: $light-grey;
}

.title {  
     width: auto;
     margin: auto;
     display: inline-block;
     position: relative;
    h1 {
        width: auto;
        margin-top: 100px;
        display: inline-block;     

        &:before {
            content:'<';            
        }
        &:after {
            content:'/>';            
        }
        &:before, &:after {
            display: inline-block;
            position: relative;    
            z-index: -9;
            color: $dark-grey;
            opacity: .3;
        }
    }
}


.about { 
    width: 50%;
    margin: auto;    
    p { 
        font-size: 18pt;
        text-align: justify;
        color: $dark-grey;
    }
    a{
        font-size: 30pt;
        color: $dark-grey;        
        &:hover {
            color: $purple;    
        }
    }
    ul {
        margin: 0;
        li{
            margin: 10px;
        }
    }
}

.content {
    width: 100%; 
    margin: auto;
    margin-top: 50px;
    ul {
        padding: 0;
    }

    li {
        text-decoration: none;
        display: inline-block;
        margin: 15px;
        color: $dark-grey;

        &:hover {
            color: $purple;
            //transform: scale(1.05);
            border-bottom: 3px solid $purple;
        }
    }
    

    ul.tech {    
        font-size: 30pt;
    }
    ul.services {    
        font-size: 20pt;
        font-weight: 500;
    }

    a {
        text-decoration: none;    
    }

    a:visited{
        color: initial;
    }
    a:hover{
        color: $blue;
    }

    .technologies {
        display: flex;
        direction: row;
    }
    .column {
        flex: 1;
    }
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    color: $purple;
}