@import '_variables';

.title {
    
    h1{
        color: $purple;
        font-size: 50pt;
        font-family: 'Lato', sans-serif;
        width: auto;
        margin: auto;
        margin-top: 100px;
        display: inline-block;
        position: relative;
        

        &:before {
            content:'<';
            left: -35px;
        }
        &:after {
            content:'/>';
            right: -60px;
        }
        &:before, &:after {
            display: inline-block;
            position: absolute;    
            z-index: -9;
            color: #3F4045;
            opacity: .3;
        }
    }
}

p.about {
    font-size: 15pt;
    color: #413F54;
}